{{!< default}}

<section>
    <h2>{{{t "section.title.posts"}}}</h2>
    {{#foreach posts}}
    <a href="{{url}}">
        <article class="bg-yellow-500">
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM"}}</time>
            <h1>{{title}}</h1>
        </article>
    </a>
    {{/foreach}}
</section>