{{!< default}}

{{#post}}
    <article class="prose lg:prose-lg dark:prose-dark mx-auto">
        <h1>{{title}}</h1>
        
        <small>
            {{> "bullet-tag" color=primary_tag.accent_color}} {{tags}} - 
            {{reading_time minute="reading.one.minute" minutes="reading.minutes"}}
        </small>
        <img class="rounded"
            srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
            sizes="(max-width: 1000px) 400px, 700px"
            src="{{img_url feature_image size="m"}}"
            alt="{{title}}"
        />
        {{content}}
    </article>

    {{#author}}
        {{name}}
        {{#if twitter}}<a href="{{twitter_url}}">Follow me on twitter</a>{{/if}}
    {{/author}}
{{/post}}