{{!< default}}

{{#tag}}
  <div class="text-center">
    <h1 class="inline-block mx-auto text-center text-4xl font-bold border-b-4" style="border-color: {{accent_color}}">{{name}}</h1>
    {{#if description}}
      <p>{{description}}</p>
    {{/if}}
  </div>
{{/tag}}

{{#foreach posts}}
    <div class="post post-date-{{date format="M"}}">
        <div class="post-label text-lg font-bold uppercase text-gray-700 my-4">{{date format="MMMM YYYY"}}</div>
        {{> 'post-list-item'}}
    </div>
{{/foreach}}